---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: 0.0.0.0
  bindPort: 6443
skipPhases:
  - addon/kube-proxy
---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: ClusterConfiguration
networking:
  podSubnet: "10.0.32.0/20"
  serviceSubnet: "10.0.16.0/24"
