---
all:
  children:
    controlplane:
      hosts:
%{~ for controller_id,controller_ip in controllers }
        ${controller_id}.mshome.net:
%{~ endfor }
    workers:
      hosts:
%{~ for worker_id,worker_ip in workers }
        ${worker_id}.mshome.net:
%{~ endfor }
