---
all:
  children:
    controlplane:
      hosts:
%{~ for id,ip in controllers }
        ${id}:
%{~ if platform == "hyperv" }
          ansible_host: ${id}.${vm_domain}
%{~ else }
          ansible_host: ${ip}
%{~ endif }
%{~ endfor }
    workers:
      hosts:
%{~ for id,ip in workers }
        ${id}:
%{~ if platform == "hyperv" }
          ansible_host: ${id}.${vm_domain}
%{~ else }
          ansible_host: ${ip}
%{~ endif }
%{~ endfor }
