controller_count = 0
# controller_cpus = 2
# controller_memory = "2G"

worker_count = 0
# worker_cpus = 2
# worker_memory = "2G"

# Update the following to setup static IPs in the second switch (Hyper-V only).
# If null, static IPs will not be configured.

# platform = "??"
# switch_name = "Internal Switch" # Create a switch in Hyper-V Manager and use its name here.
static_ip_cidr = "169.254.0.0"
static_ip_mask = 24

# Use a cache for APT. Separate VM needs to be provisioned with apt-cacher-ng installed and running.
# apt_cacher_url = "http://apt-cache:3142"
